.items-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 61px 0 197px 49px;
}

.items-section__select {
    width: 203px;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;

}

.items-section__title {
    margin: 51px 0 48px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */
    color: #212121;
}

.items-section-grid {
    display: grid;
    grid-template-columns: 285px 285px 285px;
    grid-gap: 48px;
}

.items-products-grid {
    display: grid;
    grid-template-columns: 338px 338px 338px;
    grid-gap: 33px 46px;
}

.items-products-grid__button {
    width: 338px;
    height: 215px;
    background-color: #C4C4C4;
    border: none;
} :focus {
    text-decoration: underline;
    color: green;
  }
