.popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    visibility: hidden;
}

.popup_opened {
    visibility: visible;
}

.cartmodal {
    position: relative;
    width: 395px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    box-shadow: 0px 4px 48px rgba(65, 65, 65, 0.15);
}

.cartmodal__wrapper {
    width: 347px;
    display: flex;
    flex-direction: column;
    margin: 32px 24px;

}
.cartmodal__wrapper_p {
    display: flex;
    flex-direction: column;
}

.cartmodal__item {
    display: flex;
    flex-direction: column;
}

.cartmodal__item-img {
    size: 42px;
}

.cartmodal__item-name {
    width: 184px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    white-space: pre-line;
    margin: 0 32px 0 16px;
}

.cartmodal__item-price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin: 10px 0 11px 0;

    color: #212121;
}

.cartmodal__line {
    margin: 32px auto;
}

.cartmodal__wrapper_row {
    display: flex;
    margin-bottom: 24px;
}

.content__counter_small {
    width: 122px;
    display: flex;
    margin-right: 18px;
}

.content__counter_btn_small{
    width: 40px;
    height: 40px;
    background: #F3F3F3;
    border-radius: 8px;
    border: none;
}

.content__counter_value_small {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin: auto;

    color: #000000;
}

.cartmodal__total{
    display: flex;
    margin: 0 0 48px 133px;
}

.cartmodal__total-text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.cartmodal__total-price {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    margin: 0 0 0 24px;
    color: #000000;
}

.cartmodal__buttons {
    width: 347px;
    display: flex;
    margin: 0 auto 48px;
    justify-content: space-between;
}

.cartmodal__clear-cart {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin: 14px 49px 14px 0;
    text-decoration-line: underline;

    color: #414141;
}

.cartmodal__buy {
    width: 163px;
    height: 49px;
    background: #FF7474;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    padding: 0;
}
