@import url('./header/header.css');
@import url('./main/main.css');
@import url('./footer/footer.css');
@import url('./content/content.css');
@import url('./breadcrumb/breadcrumb.css');
@import url('./cart/cart.css');
@import url('./wrappers.css');
@import url('./items-section/items-section.css');
@import url('./catalog/catalog.css');


body{
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    margin: 0;

}


