.catalog {
    max-width: 100%;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0 auto;
}

.catalog-column {
    display: flex;
    flex-direction: column;
    width: 283px;
    border-left: 1px solid #C3C3C7;
    border-right: 1px solid #C3C3C7;
}

.catalog-item {

}

.catalog-item__header {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;

    /* Gray/900 (Text) */

    color: #4C4D51;
}
.catalog-item__link {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    /* Gray/500 (Text) */

    color: #5B6064;
}
